.side_bar {
  height: 100%;
  background: #43425d;
}
.menu-list {
  background: #43425d;
  color: white;
  width: 100.5%;
}
.side_bar .ant-menu-item a {
  color: white;
}
.navBar {
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
}
